language: python

addons:
  postgresql: '9.6'

services:
- postgresql
- redis-server

matrix:
  include:
  - python: '3.6'
  - python: '3.7'

cache: pip

install:
- make install
- pip freeze

script:
- make lint
- make test && bash <(curl -s https://codecov.io/bash)
- ls -lha
